beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
lxml==5.2.1
pyTelegramBotAPI==4.17.0
python-utils==3.8.2
requests==2.31.0
soupsieve==2.5
telebot==0.0.5
typing_extensions==4.11.0
urllib3==2.2.1
